@charset "utf-8";
* {
  -webkit-touch-callout: none;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
menu,
dl,
dt,
dd,
td,
th,
blockquote,
form,
fieldset,
legend,
button {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}
iframe,
fieldset,
img {
  border: none;
}
input {
  margin: 0;
  font-size: inherit;
  vertical-align: middle;
}
input,
textarea,
label {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input[type='text'],
input[type='password'],
input[type='number'],
input[type='tel'],
input[type='search'],
.inp-radio,
.inp-check {
  -webkit-appearance: none;
}
@-moz-document url-prefix() {
  input[type='checkbox'] {
    margin-right: 2px;
  }
}
input[type='search'],
.search-bar input[type='number'] {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}
input[type='search']::-webkit-search-cancel-button {
  display: none;
}
select {
  height: 24px;
  padding: 2px;
  border: 1px solid #9c9c9c;
  vertical-align: middle;
}
q::before,
q::after {
  content: '';
}
address,
cite,
em {
  font-style: normal;
}
table {
  border-collapse: collapse;
}
button {
  border: 0 none;
  font-size: inherit;
  color: inherit;
  font-family: '\5FAE\8F6F\96C5\9ED1', '5b8b\4f53', Arial;
  line-height: inherit;
  cursor: pointer;
}
button[disabled='disabled'] {
  color: rgba(255,255,255,0.8);
  opacity: 0.4;
  cursor: not-allowed;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.gridlayout li,
.col-l {
  float: left;
}
.col-r {
  float: right;
}
.col-end,
.edge {
  margin-right: 0;
}
.v-top {
  vertical-align: top;
}
.v-middle,
.label-for-icon,
.pic img,
.face img,
.ad-area img {
  vertical-align: middle;
}
.h-center {
  text-align: center;
}
.h-right {
  text-align: right;
}
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.none,
.hd-none {
  display: none !important;
}
.hide {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.banner img {
  display: block;
  width: 100%;
}
.mod-gutter {
  margin: 10px;
}
.absolute,
.absolute-top,
.absolute-bottom {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}
.absolute-top {
  top: 0;
}
.absolute-bottom {
  bottom: 0;
}
.fixed,
.fixed-top,
.fixed-bottom {
  position: fixed;
  z-index: 10;
  width: 100%;
}
.fixed-top {
  top: 0;
}
.fixed-bottom {
  left: 0;
  bottom: 0;
}
.justify,
.justify-end,
.v-centered,
.h-centered,
.h-overspread,
.flexible-layout {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}
.flexible-layout__side {
  margin-right: 10px;
}
.flexible-layout__main,
.h-overspread-item {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
}
.h-overspread-item button {
  width: 100%;
}
.h-overspread-item + .h-overspread-item {
  margin-left: 10px;
}
.justify {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
}
.justify-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-box-pack: end;
}
.v-centered {
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.h-centered {
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}
.vh-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.filter-blur {
  filter: blur(20px);
  -webkit-filter: blur(20px);
  -webkit-transform: translateZ(0);
}
.txtoverflow {
  line-height: 400px;
  overflow: hidden;
}
button.txtoverflow {
  padding: 0;
  border: none;
  background-image: none;
  background-color: transparent;
  line-height: 0;
  text-indent: -400px;
}
a.btn {
  text-decoration: none;
}
.btn img {
  vertical-align: top;
}
.buttons-list button {
  width: 100%;
}
.popup .buttons-list-item {
  border-bottom: 1px solid #e5e5e5;
}
.popup .buttons-list-item:last-child {
  border-bottom: none;
}
.popup .buttons-list-item:last-child .btn {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.buttons-row {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}
.buttons-row-item {
  border-top: 1px solid #2cb8e9;
  border-right: 1px solid #2cb8e9;
  border-bottom: 1px solid #2cb8e9;
}
.buttons-row-item:first-child {
  border-left: 1px solid #2cb8e9;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.buttons-row-item:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.buttons-row-item .btn {
  padding: 6px 12px;
  height: 100%;
}
.buttons-row-item a {
  display: block;
  box-sizing: border-box;
}
.buttons-row-item button {
  width: 100%;
  background-color: transparent;
}
.buttons-row .active .btn {
  background-color: #2cb8e9;
  color: #fff;
}
.buttons-row-centered {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
}
.buttons-row-full .item {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
}
.buttons-row-full .btn {
  text-align: center;
}
.buttons-row-simple:not(.flexible-layout) {
  display: -webkit-inline-box;
  display: inline-flex;
  display: -webkit-inline-flex;
}
.buttons-row-simple-item {
  display: block;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
  border-right: 1px solid #ccc;
  border-radius: 0;
}
.buttons-row-simple-item:last-child {
  border-right: none;
}
.buttons-row-simple .btn {
  text-align: center;
}
.buttons-row-simple a {
  display: block;
}
.buttons-row-simple button {
  width: 100%;
  background-color: transparent;
}
.buttons-list + .buttons-row-simple,
.buttons-row-simple + .buttons-list,
.buttons-row-simple + .buttons-row-simple {
  border-top: 1px solid #ccc;
}
.buttons-row-simple .btn:first-child {
  border-bottom-left-radius: 8px;
}
.buttons-row-simple .btn:last-child {
  border-bottom-right-radius: 8px;
}
.btn-full {
  width: 100%;
  padding: 8px !important;
}
a.btn-full {
  display: block;
  box-sizing: border-box;
}
.btn-gotop {
  display: none;
  position: fixed;
  z-index: 99;
  bottom: 30px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(28,190,131,0.9);
  border-radius: 50%;
  text-align: center;
}
.btn-gotop .glyphicon-up-arrow {
  display: block;
  margin-top: 5px;
  font-size: 24px;
  color: #fff;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-size: 100%;
}
[class^="glyphicon-"],
[class*=" glyphicon-"] {
  line-height: 1;
}
.btn-icon-only {
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.btn-icon-only .icon {
  color: transparent;
}
button.btn-icon-only {
  background-color: transparent;
}
.icon-badge {
  width: auto;
  height: auto;
  min-width: 2px;
  min-height: 8px;
  padding: 0.05em 0.27em;
  border-radius: 20px;
  background-color: #df3031;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  text-align: center;
  line-height: 1;
  font-family: serif;
}
sup.icon-badge {
  position: absolute;
  top: 4px;
  min-width: 26px;
  min-height: 12px;
}
.icon-zh-cn-badge {
  display: inline-block;
  padding: 6px;
  border: none;
  font-size: 16px;
  vertical-align: middle;
}
.badge-bg {
  margin-left: 6px;
  color: #fff;
}
.badge-bg-blue {
  background-color: #2cb8e9;
}
.badge-bg-green {
  background-color: #1cbe83;
}
.badge-bg-red-plum {
  background-color: ;
}
.icon-tick {
  background-image: url("../images//icon-tick-badge.png");
}
.icon-arrow-down-badge {
  background-image: url("../images//icon-arrow-down-badge.png");
}
.icon-arrow-left,
.icon-arrow-right {
  width: 20px;
  height: 20px;
}
.site-header .icon-arrow-left {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpolygon%20fill%3D%22%23ffffff%22%20points%3D%22198.313%2C33.997%20174.978%2C10.662%2057.688%2C127.946%2057.69%2C127.948%2057.688%2C127.95%20174.978%2C245.235%20198.313%2C221.9%20104.361%2C127.948%20%22%2F%3E%3C%2Fsvg%3E");
}
.site-header .icon-arrow-right {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpolygon%20fill%3D%22%23ffffff%22%20transform%3D%22rotate(180%2C%20128%2C%20128)%22%20points%3D%22198%2C34.278%20174.769%2C11%2058%2C127.998%2058.002%2C128%2058%2C128.002%20174.769%2C245%20198%2C221.722%20104.466%2C128%20%22%2F%3E%3C%2Fsvg%3E");
}
.icon-triangle-left,
.icon-triangle-down {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 8px solid #000;
}
.icon-triangle-left {
  -webkit-transform: rotate(45deg);
}
.icon-triangle-bottom {
  -webkit-transform: rotate(-45deg);
}
a.more {
  color: #666;
}
a.more .icon-arrow-right {
  width: 14px;
  height: 14px;
  background-color: #f75c2f;
  background-size: 180%;
  border-radius: 4px;
}
.icon-emoji {
  width: 60px;
  height: 60px;
  background-size: contain;
}
.icon-emoji-default-gray {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20fill%3D%22%23919191%22%20d%3D%22M127.996%2C255.693c-35.327%2C0-65.467-12.466-90.425-37.407c-24.956-24.942-37.432-55.061-37.432-90.361c0-35.298%2C12.476-65.422%2C37.432-90.364C62.53%2C12.624%2C92.669%2C0.154%2C127.996%2C0.154c35.317%2C0%2C65.457%2C12.471%2C90.418%2C37.407c24.951%2C24.942%2C37.432%2C55.066%2C37.432%2C90.364c0%2C35.3-12.481%2C65.42-37.432%2C90.361C193.453%2C243.227%2C163.314%2C255.693%2C127.996%2C255.693zM127.996%2C239.413c30.826%2C0%2C57.126-10.87%2C78.906-32.615c21.774-21.745%2C32.664-48.01%2C32.664-78.79c0-30.782-10.89-57.077-32.664-78.876c-21.779-21.799-48.08-32.699-78.906-32.699c-30.831%2C0-57.134%2C10.9-78.913%2C32.699s-32.667%2C48.094-32.667%2C78.876c0%2C30.779%2C10.887%2C57.045%2C32.667%2C78.79S97.165%2C239.413%2C127.996%2C239.413zM52.925%2C134.992h10.03c8.012%2C35.194%2C29.692%2C52.788%2C65.042%2C52.788c35.342%2C0%2C57.023-17.594%2C65.037-52.788h10.193c-2.525%2C22.807-10.455%2C40.673-23.79%2C53.608c-13.335%2C12.94-30.48%2C19.408-51.439%2C19.408c-20.964%2C0-38.087-6.468-51.365-19.408C63.35%2C175.666%2C55.447%2C157.799%2C52.925%2C134.992zM87.294%2C107.533c-5.591%2C0-10.361-1.971-14.306-5.919c-3.948-3.948-5.922-8.716-5.922-14.309c0-5.588%2C1.974-10.356%2C5.922-14.304c3.945-3.948%2C8.716-5.919%2C14.306-5.919c5.699%2C0%2C10.524%2C1.971%2C14.469%2C5.919c3.948%2C3.948%2C5.922%2C8.716%2C5.922%2C14.304c0%2C5.593-2.001%2C10.361-6.003%2C14.309S92.884%2C107.533%2C87.294%2C107.533zM168.694%2C107.533c-5.593%2C0-10.391-1.971-14.388-5.919c-4.007-3.948-6.003-8.716-6.003-14.309c0-5.588%2C1.996-10.356%2C6.003-14.304c3.997-3.948%2C8.795-5.919%2C14.388-5.919c5.588%2C0%2C10.361%2C1.971%2C14.304%2C5.919c3.948%2C3.948%2C5.924%2C8.716%2C5.924%2C14.304c0%2C5.593-1.976%2C10.361-5.924%2C14.309C179.055%2C105.562%2C174.282%2C107.533%2C168.694%2C107.533z%22%2F%3E%3C%2Fsvg%3E");
}
.icon-emotion-pitiful {
  background-image: url("../images//icon-emotion-pitiful.png");
}
.popup-wrap {
  display: none;
}
.area-overlay,
.area-overlay-disabled,
.area-overlay-img-100percent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.85);
  z-index: 10;
}
.popup {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 0;
  right: 0;
  width: 80%;
  min-width: 250px;
  max-width: 580px;
  margin: 0 auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-color: #fff;
}
.popup-hd {
  padding: 0 15px;
  white-space: nowrap;
  text-align: center;
}
.popup-hd h1 {
  font-size: 18px;
  line-height: 35px;
}
.popup-handle {
  background-color: red;
}
.popup-hd .btn-close {
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 10px;
  width: 25px;
  height: 25px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%22512px%22%20id%3D%22Layer_1%22%20style%3D%22enable-background%3Anew%200%200%20512%20512%3B%22%20version%3D%221.1%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512px%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cpath%20fill%3D%22%23676767%22%20d%3D%22M437.5%2C386.6L306.9%2C256l130.6-130.6c14.1-14.1%2C14.1-36.8%2C0-50.9c-14.1-14.1-36.8-14.1-50.9%2C0L256%2C205.1L125.4%2C74.5%20%20c-14.1-14.1-36.8-14.1-50.9%2C0c-14.1%2C14.1-14.1%2C36.8%2C0%2C50.9L205.1%2C256L74.5%2C386.6c-14.1%2C14.1-14.1%2C36.8%2C0%2C50.9%20%20c14.1%2C14.1%2C36.8%2C14.1%2C50.9%2C0L256%2C306.9l130.6%2C130.6c14.1%2C14.1%2C36.8%2C14.1%2C50.9%2C0C451.5%2C423.4%2C451.5%2C400.6%2C437.5%2C386.6z%22%2F%3E%3C%2Fsvg%3E") no-repeat;
  background-size: 100%;
  background-position: center;
  color: transparent;
  -webkit-tap-highlight-color: transparent;
}
.popup-bd {
  box-sizing: border-box;
  padding: 5px 15px;
  line-height: 22px;
}
.popup-ft {
  padding: 10px;
}
.drag .hd {
  cursor: move;
}
.popup-sys {
  border-radius: 4px;
}
.popup-sys-hd {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.popup-sys-hd h1 {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}
.popup-sys-bd {
  padding: 0 5px 10px;
  font-size: 16px;
  line-height: 25px;
}
.popup-share {
  top: 0;
  left: 50%;
  right: 0;
  width: 100%;
  margin-left: -50%;
  background-color: transparent;
  box-shadow: none;
}
.popup-img-100percent {
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  margin-left: 0;
  background-color: transparent;
  box-shadow: none;
}
.scope-bar,
.tabs-nav,
.tabs-nav-squared {
  z-index: 3;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tabs-nav a.btn,
.tabs-nav-squared a.btn {
  display: block;
}
.tabs .tab {
  display: none;
}
.tabs .active.tab {
  display: block;
}
.scope-bar .items {
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.scope-bar a {
  display: block;
  padding: 0 8px;
  color: #333;
  font-size: 15px;
}
.scope-bar-current a {
  color: #e16b8c;
}
.search-bar {
  box-sizing: border-box;
  padding: 6px 10px;
  background-color: #ccc;
}
.search-bar button[type='reset'] {
  position: absolute;
  top: 7px;
  right: 45px;
}
.search-bar .icon-cross {
  width: 28px;
  height: 28px;
  background-size: 100%;
}
.tips-bar {
  position: relative;
  padding: 2px 10px;
  font-size: 12px;
  text-align: center;
}
.tips-bar p {
  margin: 0.3em 0;
}
.tips-top {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 11;
}
a.tips-bar-txt {
  display: block;
}
a.tips-bar-txt .icon-arrow-right {
  width: 10px;
  margin-left: 5px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpolygon%20fill%3D%22%23ffffff%22%20transform%3D%22rotate(180%2C%20128%2C%20128)%22%20points%3D%22198%2C34.278%20174.769%2C11%2058%2C127.998%2058.002%2C128%2058%2C128.002%20174.769%2C245%20198%2C221.722%20104.466%2C128%20%22%2F%3E%3C%2Fsvg%3E");
}
.tips-bar .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 30px;
  z-index: 100;
  font-size: 14px;
}
.hint {
  color: #999;
}
p.hint {
  margin: 4px;
}
.asterisk {
  color: #ff0000;
}
.articlelist1__hd {
  height: 30px;
}
.articlelist1__tit {
  float: left;
  color: #000;
  font-size: 20px;
}
.articlelist1__tit a {
  color: #000;
}
.articlelist1__meta {
  float: left;
  padding: 5px 0 0 20px;
}
.articlelist1__linFullTexts {
  padding-left: 20px;
  background: url("../images//bg_11.png") no-repeat;
}
.articlelist1__pages {
  text-align: left !important;
}
.article {
  margin-bottom: 30px;
  padding: 0 20px;
  color: #555;
}
.article .hd {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.article .hd .tit {
  font-family: '\5FAE\8F6F\96C5\9ED1', '\5B8B\4F53';
  font-size: 20px;
  font-weight: normal;
}
.article .hd .meta {
  padding: 5px 20px 0 20px;
}
.article .hd .date {
  color: #ccc;
  font-size: 14px;
}
.article .bd {
  padding: 10px 0;
  line-height: 1.5em;
  overflow-x: hidden;
}
.article .bd p {
  margin: 0 0 10px;
  line-height: 32px;
}
.article .bd .summary {
  margin: 0;
}
.passage {
  margin: 0px 0 10px;
  text-indent: 2em;
}
p.pic_simple {
  text-indent: 0px;
  text-align: center;
}
.article ol,
.main_point li,
.decimal li {
  margin-left: 3em;
  list-style-type: decimal;
}
.retweet .icon {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 4px;
  text-indent: -300px;
  overflow: hidden;
}
.img-radius {
  border-radius: 50%;
}
.inp-code,
.code-pic {
  vertical-align: middle;
}
.lab {
  display: inline-block;
  width: 90px;
  margin-right: 10px;
  text-align: right;
  white-space: nowrap;
}
.inp {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  font-family: Verdana;
  line-height: 23px;
}
.inp:focus,
.inp input:focus {
  outline: none;
  border-color: #80c7ff;
  box-shadow: 0 0 8px #91ceff;
}
.list-group input {
  width: 100%;
  border: none;
}
.text_area {
  width: 310px;
  height: 80px;
}
.pwd_placeholder {
  position: absolute;
  margin-left: 3px;
  margin-top: 3px;
  color: #e3e6eb;
}
.webapp {
  position: relative;
}
.webapp-bg .webapp {
  padding-top: 1px;
}
.webapp > footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #1cbe83;
  color: #fff;
}
.site-header {
  max-width: 640px;
  background-color: #1cbe83;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  opacity: 0.999999;
}
.site-header-bd {
  min-width: 320px;
  height: 42px;
  line-height: 42px;
}
.site-header h1 {
  color: #fff;
  font-size: 18px;
  line-height: 42px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.site-header .left,
.site-header .right {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}
.site-header .left a,
.site-header .right a {
  -webkit-tap-highlight-color: transparent;
}
.site-header .left {
  float: left;
}
.site-header .right {
  float: right;
}
.site-header .center {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: 0 60px;
  z-index: -1;
}
.site-header .right + .center {
  margin-right: 0;
}
.site-header .btn-hastext {
  height: 42px;
  padding: 0 10px;
}
.site-header .btn-hastext .text {
  vertical-align: middle;
}
.site-header .btn-icon-only {
  display: block;
  width: 42px;
  height: 42px;
}
.site-header .btn-icon-only:hover {
  background-color: rgba(0,0,0,0.1);
}
.site-header button {
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.site-header .left a  + a,
.site-header .right a  + a {
  margin-left: 10px;
}
.site-header .icon {
  background-size: auto 100%;
}
.site-header .link-circle-arrow-down {
  position: relative;
}
.tab-bar,
.tool-bar {
  position: fixed !important;
  bottom: 0;
  z-index: 10;
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  border-top: 1px #b1b1b1 solid;
  background-color: #fff;
}
.tab-bar-items,
.tool-bar-items {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}
.tab-bar-items li,
.tool-bar-items li {
  min-width: 50px;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
  text-align: center;
}
.tab-bar-items a {
  width: 80%;
  margin: 0 auto;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #666;
  text-decoration: none;
  display: block;
  font-size: 12px;
}
.tab-bar-items .icon,
.tool-bar-items .icon {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-size: 120%;
  background-position: center;
}
.tool-bar-bd {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
}
.tool-bar-items button {
  width: 80%;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  color: #fff;
}
.tool-bar-button-fill .tool-bar-items button {
  width: 100%;
  padding: 14px 18px;
  white-space: nowrap;
}
.pagination {
  padding-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: '5b8b\4f53';
}
.pagination button,
.pagination__thispage {
  padding: 4px 8px;
  border: 1px solid #eee;
  color: #000;
  text-align: center;
}
.pagination button {
  background-color: transparent;
}
.pagination button:not([disabled='disabled']):hover {
  border-color: #1cbe83;
  color: #1cbe83;
}
.pagination button[disabled='disabled'] {
  color: #ccc;
}
.pagination__thispage {
  border-color: #1cbe83;
  background-color: #1cbe83;
  color: #ffffff;
  font-weight: bold;
}
.pagination__prev,
.pagination__next {
  width: auto !important;
  color: #3a820b;
}
.item-caption-ellipsis {
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.cv-large,
.cv-medium,
.cv-small {
  padding: 0 1%;
}
.cv-large .item,
.cv-medium .item,
.cv-small .item {
  box-sizing: border-box;
  float: left;
  margin: 2% 0;
  padding: 0 1%;
}
.cv-large .item-content,
.cv-medium .item-content,
.cv-small .item-content {
  text-align: center;
}
.cv-large .item-content-hd,
.cv-medium .item-content-hd,
.cv-small .item-content-hd {
  margin-bottom: 4px;
}
.cv-large .item-pic,
.cv-medium .item-pic,
.cv-small .item-pic {
  width: 80%;
  min-width: 40px;
  vertical-align: top;
}
.cv-medium .item {
  width: 25%;
}
.cv-large .item {
  width: 50%;
}
.cv-tiles .item {
  float: left;
  margin-right: 20px;
  margin-bottom: 25px;
}
.cv-tiles .item-hd,
.cv-tiles .item-media {
  float: left;
  margin-right: 10px;
}
.cv-tiles .item-bd,
.cv-tiles .item-main {
  float: left;
}
.cv-tiles .item-ft {
  float: right;
}
.cv-list {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.cv-list .item {
  position: relative;
}
.cv-list .item::after {
  content: '';
  position: absolute;
  left: 10px;
  right: 0;
  z-index: 2;
  border-top: 1px solid #ccc;
}
.cv-list .item:last-child::after {
  display: none;
}
.cv-list .item-content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  min-height: 30px;
  padding: 8px;
  transition: all 500ms ease 0s;
}
.cv-list a.item-content {
  padding-right: 35px;
}
.cv-list a.item-content::after {
  content: '';
  position: absolute;
  top: 55%;
  right: 0;
  width: 16px;
  height: 16px;
  margin-top: -10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpolygon%20fill%3D%22%23ffffff%22%20transform%3D%22rotate(180%2C%20128%2C%20128)%22%20points%3D%22198%2C34.278%20174.769%2C11%2058%2C127.998%2058.002%2C128%2058%2C128.002%20174.769%2C245%20198%2C221.722%20104.466%2C128%20%22%2F%3E%3C%2Fsvg%3E");
  background-position: 95% center;
  background-repeat: no-repeat;
  background-size: 15px auto;
}
.cv-list .item-content-hd,
.cv-list .item-content-bd,
.cv-list .item-content-ft {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.cv-list .item-content-hd {
  margin-right: 6px;
}
.cv-list .item-content-hd img {
  vertical-align: top;
}
.cv-list .item-content-hd .icon {
  width: 32px;
  height: 32px;
  background-size: 100%;
}
.cv-list .item-content-hd label {
  width: 70px;
}
.cv-list .item-content-bd {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
}
.cv-list input,
.cv-list textarea {
  border: none;
}
.cv-list .item-content-ft {
  margin-left: 10px;
}
.cv-list a:hover {
  background-color: #d9d9d9;
}
.list-block {
  margin-bottom: 35px;
}
.list-block-bd > ul {
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
  background-color: #fff;
}
.list-block .item-title {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
  max-width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list-block .item-title-row {
  margin-bottom: 8px;
}
.list-block .item-after {
  max-height: 28px;
  margin-left: 5px;
  color: #8e8e93;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
  overflow: hidden;
}
.list-block .list-block-hd,
.list-block .list-block-ft {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  margin: 10px 0;
  padding: 0 15px;
}
.list-block .list-block-hd {
  font-size: 16px;
  color: #6d6d72;
}
.list-block .list-block-ft {
  font-size: 14px;
  color: #8f8f94;
}
.list-block .item-content {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  padding-left: 15px;
}
.list-block .item-content-hd {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
}
.list-block .item-content-bd {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 44px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  overflow: hidden;
}
.list-block .item-content-bd::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #c8c7cc;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.list-block .item:last-child .item-content-bd::after,
.list-block .accordion-item:last-child .item-content-bd::after {
  display: none;
}
.list-block a.item-content {
  text-decoration: none;
}
.list-block a.item-content .item-content-bd {
  padding-right: 35px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpolygon%20fill%3D%22%23c7c7cc%22%20transform%3D%22rotate(180%2C%20128%2C%20128)%22%20points%3D%22198%2C34.278%20174.769%2C11%2058%2C127.998%2058.002%2C128%2058%2C128.002%20174.769%2C245%20198%2C221.722%20104.466%2C128%20%22%2F%3E%3C%2Fsvg%3E");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-position: -webkit-calc(100% - 10px) center;
  background-position: calc(100% - 10px) center;
}
.list-block .item-content-hd + .item-content-bd {
  margin-left: 15px;
}
.list-block.media-list .item-content-bd,
.list-block .item-address .item-content-bd {
  display: block;
}
.lists {
  padding-top: 1px;
  padding-bottom: 1px;
}
.lists-section {
  margin-bottom: 35px;
}
.lists-section-hd {
  padding: 8px;
}
.lists-section-hd + .list-block {
  margin-top: 0;
  margin-bottom: 0;
}
.lists-section-hd .hd-tit {
  font-size: 14px;
}
.lists-section-ft {
  font-size: 12px;
}
.swipeout-actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.swipeout-actions {
  background-color: red;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}
.swipeout-actions button {
  border-radius: 0;
}
.orderlist {
  margin: 10px 0 50px;
}
.orderlist ul {
  border: none;
  background-color: transparent;
}
.orderlist .item {
  padding: 10px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  background-color: #fff;
}
.orderlist .item + .item {
  margin-top: 10px;
}
.orderlist .item-hd {
  border-bottom: 1px solid #cdcdcd;
  white-space: nowrap;
  overflow-y: hidden;
}
.orderlist .item-content {
  padding-left: 0;
}
.orderlist .item-content-hd {
  display: block;
  width: 20%;
  padding-top: 8px;
}
.orderlist .item-content-hd a {
  display: block;
}
.orderlist .item-content-hd .item-pic {
  display: block;
  width: 100%;
}
.orderlist .item-content-bd {
  display: block;
  padding-right: 0;
  color: #555;
  line-height: 1.5;
}
.orderlist .item-content-hd + .item-content-bd {
  margin-left: 5px;
}
.orderlist .item-content-bd::after {
  display: none;
}
.orderlist .item-caption {
  width: 80%;
  color: #000;
  font-size: 16px;
}
.orderlist .item-info {
  word-break: break-all;
}
.orderlist .btn-go-logistics {
  padding: 4px 25px 4px 6px;
  border: 1px solid #2cb8e9;
  border-radius: 4px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256px%22%20height%3D%22256px%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpolygon%20fill%3D%22%23c7c7cc%22%20transform%3D%22rotate(180%2C%20128%2C%20128)%22%20points%3D%22198%2C34.278%20174.769%2C11%2058%2C127.998%2058.002%2C128%2058%2C128.002%20174.769%2C245%20198%2C221.722%20104.466%2C128%20%22%2F%3E%3C%2Fsvg%3E");
  background-color: transparent;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 95% center;
  background-position: -webkit-calc(100% - 5px) center;
  background-position: calc(100% - 5px) center;
  color: #2cb8e9;
  font-size: 12px;
  text-align: left;
}
.list-block input[type="text"],
.list-block input[type="password"],
.list-block input[type="search"],
.list-block input[type="email"],
.list-block input[type="tel"],
.list-block input[type="url"],
.list-block input[type="date"],
.list-block input[type="datetime-local"],
.list-block input[type="time"],
.list-block input[type="number"],
.list-block select,
.list-block textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0px;
  border: none;
  border-radius: 0;
  color: #000;
  font-size: 17px;
  font-family: inherit;
}
.list-block select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
.list-block textarea {
  height: 100px;
  resize: none;
  line-height: 1.4;
  padding-top: 8px;
  padding-bottom: 7px;
}
.list-block .item-label {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -webkit-box-flex: 0;
  width: 35%;
}
.list-block .item-input {
  width: 100%;
  margin-left: 5px;
  flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -webkit-box-flex: 1;
}
.list-block .accordion-item > a.item-content .item-content-bd {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.list-block .accordion-item > a.item-content .item-content-bd::after {
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.list-block .accordion-item-expanded > a.item-content .item-content-bd::after {
  background-color: transparent;
}
.list-block .accordion-item-content-bd {
  box-sizing: border-box;
  padding: 0 15px;
}
.list-block .accordion-item ul {
  padding-left: 0;
}
.accordion-item-content {
  position: relative;
  height: 0;
  font-size: 14px;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  overflow: hidden;
}
.accordion-item-expanded > .accordion-item-content {
  padding-bottom: 10px;
}
.accordion-item-expanded a.item-content .item-content-bd {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20transform%3D'translate(115%2C%2030)%20rotate(90)'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
  background-size: 20px 20px;
}
.setting .tit {
  color: #666;
  font-size: 12px;
  font-weight: normal;
}
.label-switch .checkbox {
  margin-top: 0;
  margin-bottom: 0;
  width: 52px;
  border: 2px solid #ddd;
  border-radius: 16px;
  cursor: pointer;
  transition: ease 0.3s;
  -webkit-tap-highlight-color: transparent;
}
.label-switch .checkbox::after {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);
  vertical-align: top;
  transition: ease 300ms;
}
.label-switch input {
  display: none;
}
.label-switch input[type='checkbox']:checked + .checkbox {
  background-color: #1cbe83;
  border-color: #1cbe83;
}
.label-switch input[type='checkbox']:checked + .checkbox::after {
  margin-left: 24px;
}
.spinner {
  float: left;
  font-size: 14px;
}
.spinner input {
  width: 2.5em;
  padding: 0 0.2em;
  border-style: solid;
  border-width: 1px;
  border-color: #1cbe83;
  text-align: center;
  -webkit-appearance: none;
}
.spinner button {
  height: 1.8em;
  padding: 0 0.4em;
  background-color: #1cbe83;
  color: #fff;
  font-weight: bold;
}
.spinner button[disabled='disabled'] {
  background-color: #333;
}
.spinner-collapse input {
  border-radius: 0;
}
.spinner-collapse button:first-child {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.spinner-collapse button:last-child {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.spinner-gutter input {
  margin: 0 4px;
  border-radius: 2px;
}
.spinner-gutter button {
  border-radius: 2px;
}
html,
body {
  max-width: 640px;
  margin: 0 auto;
}
body {
  background-color: #e7e7e7;
  font-family: "\5FAE\8F6F\96C5\9ED1", "5b8b\4f53", Arial;
  color: #555;
}
.white {
  color: #fff;
}
.red {
  color: #df3031 !important;
}
.red-plum {
  color: #e16b8c;
}
.orange {
  color: #f75c2f;
}
.green {
  color: #1cbe83;
}
.blue {
  color: #2cb8e9;
}
.lightBlue {
  color: #7ec8e8;
}
.yellow {
  color: #f6b900;
}
.gray {
  color: #e3e6eb;
}
.gray-deep {
  color: #595758;
}
.gray2 {
  color: #898989;
}
.bgc-warning,
.bgc-yellow {
  background-color: #f6b900;
  color: #fff;
}
.bgc-orange {
  background-color: #f75c2f;
  color: #fff;
}
.bgc-blue {
  background-color: #2cb8e9;
  color: #fff;
}
.bgc-redPlum {
  background-color: #e16b8c;
}
.gray-radient {
  background-color: #F5F5F5;
  background-image: linear-gradient(#fafafa 20%,#f4f4f4 80%);
  background-image: -webkit-linear-gradient(#fafafa 20%,#f4f4f4 80%);
  color: #000;
}
.gray-radient--hover {
  background-color: #e6e6e6;
  background-image: linear-gradient(#f3f3f3 20%,#e6e6e6 80%);
  background-image: -webkit-linear-gradient(#f3f3f3 20%,#e6e6e6 80%);
}
.red-gradient {
  background-color: #ff4d00;
  background-image: linear-gradient(#ff6400 20%,#ff3200 80%);
  background-image: -webkit-linear-gradient(#ff6400 20%,#ff3200 80%);
  color: #fff;
}
.orange-gradient {
  box-shadow: 0 1px 1px #dad9d9;
  background-color: #ff8a00;
  background-image: linear-gradient(#ff8a00 20%,#ff7802 80%);
  background-image: -webkit-linear-gradient(#ff8a00 20%,#ff7802 80%);
  color: #fff;
}
.green-gradient {
  box-shadow: 0 1px 1px #dad9d9;
  background-color: #64c635;
  background-image: linear-gradient(#64c635 10%,#48ba49 90%);
  background-image: -webkit-linear-gradient(#64c635 10%,#48ba49 90%);
  color: #fff;
}
.bgBlueGradient {
  background-color: #017ce5;
  background-image: linear-gradient(#017ce5 5%,#084194 100%);
  background-image: -webkit-linear-gradient(#017ce5 5%,#084194 100%);
  color: #fff;
}
.bgBlueGradient2 {
  background-color: #0074e2;
  background-image: linear-gradient(#3da2e5 5%,#2b78d9 100%);
  background-image: -webkit-linear-gradient(#3da2e5 5%,#2b78d9 100%);
  color: #fff;
}
.btn-green {
  background-color: #1cbe83;
  color: #fff;
}
a.textlink {
  color: #1cbe83;
}
a.textlink-underline {
  color: #1cbe83;
  text-decoration: underline;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.clearfix::after {
  content: "";
  display: block;
  height: 0px;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfloat {
  clear: both;
  font-size: 0px;
  line-height: 0px;
}
.weui_btn_primary {
  background-color: #1cbe83;
}
.weui_btn_primary:not(.weui_btn_disabled):active {
  background-color: #14a864;
}
.weui_dialog_bd .textlink {
  color: #04BE02;
}
.btn-show-password {
  position: absolute;
  right: 20px;
  width: 32px;
  height: 32px;
  margin-top: -40px;
  background-color: transparent;
}
.notice {
  padding: 4px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
}
.notice-hd {
  margin-right: 4px;
}
.container-fluid {
  max-width: 640px;
  padding: 0;
}
.menu-radius .item-content-hd {
  margin: 4px auto;
}
.menu-radius .item-content-hd img {
  border-radius: 50%;
}
.menu-radius-icon .item-content-hd {
  display: flex;
  align-items: center;
  justify-content: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.menu-radius-icon .item-content-hd .icon {
  display: block;
  width: 70%;
  height: 70%;
  background-size: 100%;
}
.table-view-style1 {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.table-view-style1 .table-view-section-hd {
  margin-left: 15px;
  padding-left: 0;
}
.table-view-style1 .table-view-section-bd {
  margin-left: 15px;
}
.table-view-style1 .cv-list {
  border-bottom: none;
}
.fm-register {
  margin-bottom: 50px;
}
.fm-register .weui_label {
  width: auto;
  color: #1cbe83;
}
.fm-register .weui_cell_warn .weui_label {
  color: #e64340;
}
.fm-register .weui_label i {
  margin-right: 12px;
  color: #1cbe83;
}
.productlist {
  font-size: 14px;
}
.productlist .item-caption {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.productlist .item-actions {
  position: absolute;
  right: 10px;
  margin-top: -30px;
}
.productlist .item-actions .weui_btn_plain_primary {
  font-size: 12px;
}
.on .weui_icon_circle:before {
  content: '\EA06';
  color: #09bb07;
}
.productlist .item-pic-box {
  width: 25%;
  padding: 5px 0;
}
.productlist .item-pic {
  width: 100%;
}
.productlist .item-content-hd .item-pic {
  width: 100%;
}
.productlist .item-content-bd {
  display: block;
}
.productlist-shoppingcart .item {
  padding-left: 15px;
}
.productlist-shoppingcart .item-pic-box {
  margin-right: 10px;
}
.productlist-shoppingcart .item-content-bd {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}
.productlist-shoppingcart .item-content {
  padding-left: 0;
}
.productlist-shoppingcart .item-price {
  color: #df3031;
  font-size: 20px;
  text-align: right;
  line-height: 1;
}
.productlist-shoppingcart .item-hd {
  min-width: 23px;
  margin-right: 10px;
}
input.inp-check {
  margin-right: 6px;
  padding: 8px;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: transparent;
}
.inp-check:checked {
  background-image: url("../images//icon-tick-badge.png");
  border-color: ;
}
input.inp-radio {
  margin-right: 6px;
  padding: 8px;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: transparent;
}
.inp-radio:checked {
  padding: 5px;
  border: 5px solid #ff627c;
}
.nav1 {
  position: absolute;
  background-color: #eee;
  top: 45px;
  width: 100%;
  max-width: 640px;
  z-index: 1;
}
.webapp-fixed .nav1 {
  position: fixed;
  top: 0;
  box-shadow: 0 1px 2px #bbb;
}
.scroll-scope:first-child {
  margin-top: 60px;
}
.nav1 .item-on {
  color: #1cbe83;
}
.swiper-pagination {
  position: static;
}
.swiper-container-horizontal .swiper-pagination-bullet {
  margin: 0 4px;
}
.swiper-pagination-bullet-active {
  background-color: #1cbe83;
}
.scroll-loader {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(255,255,255,0.95);
  text-align: center;
}
.tool-bar-carts {
  padding-left: 10px;
  border-top-color: #ddd;
}
.tool-bar-carts .iconbox-shoppingcart {
  position: relative;
  bottom: 0;
  padding: 4px;
  min-width: 28px;
  text-align: center;
  line-height: 1;
}
.tool-bar-carts .btn-submit {
  padding: 2px 10px;
  height: 100%;
  background-color: #1cbe83;
  color: #fff;
}
.iconbox-shoppingcart .glyphicon-shopping-cart {
  display: block;
  min-height: 28px;
  font-size: 25px;
}
.iconbox-shoppingcart .icon-badge {
  position: absolute;
  top: 0;
  vertical-align: middle;
}
.tool-bar-carts .btn-txt {
  line-height: 35px;
}
